@media only screen and (min-width:700px) and (max-width:980px){
    .productCard{
        flex-basis: 48%;
    }
}
@media only screen and (min-width:981px) and (max-width:1500px){
    .ri-menu-line{
        display: none;
    }
    nav{
        display: flex;
    }
    .heroSection{
        padding: 5vw;
    }
    .heroBottom p{
        text-align: start;
    }
    .shop-now{
        width: fit-content;
    }
    .heroBottom{
        align-self: flex-start;
        align-items: flex-start;
        width: 50%;
    }

    .section1 p{
        font-size: 50px;
        text-align: center;
        width: 62%;
    }

    .productCard{
        flex-basis: 23%;
    }
    
}
